* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    background-color: #f8f9fd;
    justify-content: center;
    padding: 50px 0px;
}

#addclass {
    width: 445px;
    height: 515px;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#addclass .header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#addclass .header .avt {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1089ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addclass .header .avt i {
    color: white;
    font-size: 30px;
}

#addclass .text-center {
    width: 100%;
    height: 42px;
    margin-bottom: 1.5rem;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
}

#addclass .form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#addclass .button {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1089ff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 16px;
}

#addclass .instructions {
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: #3c4043;
}

#addclass li {
    padding-bottom: 1rem;
}

#addclass a{
    margin-top: 100px;
    margin-left:260px;
    right: 0px;
}