* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc !important;
}

#container{
    margin: 100px 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#container .btn-create{
    display: flex;
    justify-content: space-around;
}