*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display:flex ;
    background-color: #f8f9fd;
    justify-content: center;
    padding: 50px 0px;
}

#login{
    width: 445px;
    height: 515px;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#login .header{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#login .header .avt{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1089ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login .header .avt i{
    color: white;
    font-size: 30px;
}

#login .text-center{
    width: 100%;
    height: 42px;
    margin-bottom: 1.5rem;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
}

#login .form-control{
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#login .button{
    width: 100%;
    height: 52px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #1089ff;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 16px;
}

#login .footer{
    display: flex;
    justify-content: space-between;
}