*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    right: 0px;
    left: 0px;
    top:0px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

#header .left{
    display: flex;
    align-items: center;
}

#header .left .drawer:hover{
    cursor: pointer;
}

#header .left .drawer{
    margin-left: 25px;
    margin-right: 22px;
}

#header .left .drawer i{
    font-size: 20px;
}

#header .left .title{
    display: flex;
    flex-direction: column;
}

#header .left .title .main-title{
    letter-spacing: .00625em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    font-weight: bold;
    color: #3c4043;
    
}

#header .left .title .sub-title{
    letter-spacing: .025em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}

#header .left .route{
    width: 400px;
    display: flex;
    padding: 2px 24px;
    justify-content: space-evenly;
}

#header .left .route a:hover{
    font-size: 18px;
    line-height: 1.25rem;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    color: #4285f4;
}

#header .left .route a{
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
    text-decoration: none;
}

#header .right{
    display: flex;
    align-items: center;
}

#header .right .menu{

}

#header .right .account{
    margin-right: 25px;
    margin-left: 25px;
}

#header .right .menu i,
#header .right .account i{
    font-size: 20px;
}

/* Drawer details */
.dra-details.open{
    display: block;
}

.dra-details{
    width: 300px;
    height: 100%;
    background-color:#fff;
    position: fixed;
    z-index: 2;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: none;
    animation: drawerFaceIn ease 0.5s;
}

.dra-details hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.dra-details .dra-header{
    height: auto;
    margin: 8px 8px 8px 0px;
}

.dra-details .dra-item:hover{
    background-color: #f6f6f6;
    border-radius: 1rem;
    cursor: pointer;
}

.dra-details .dra-item a{
    color: #5f6368;
    text-decoration: none;
}

.dra-details .dra-item{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding:  0px 26px;
    font-size: 16px;
}

.dra-details .dra-item .icon{
    color: #5f6368  ;
    margin-right: 16px;
    font-size: 18px;
}

.dra-details .dra-item .dra-item-avt{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1967d2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dra-details .dra-body{
    width: 100%;
    height: auto;
    margin: 8px 8px 8px 0px;
}

.dra-details .dra-body .dra-body-title{
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 16px;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: #5f6368;
}

.dra-details .dra-footer{
    width: 100%;
    height: auto;
    margin: 8px 8px 8px 0px;
}

@keyframes drawerFaceIn{
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* End Drawer details */
