* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin-top: 15px;
}

#container {
    z-index: 0;
    height: 600px;
}

#container .navbar {
    z-index: 1;
}

#header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

#header .left,
.right {
    display: flex;
    align-items: center;
}

#header .left .drawer:hover {
    cursor: pointer;
}

#header .left .drawer {
    margin: 25px;
    width: 24px;
    height: 24px;
    font-size: 22px;
}

#header .left .webname {
    font-size: 1.38125rem;
    color: #5f6368;
    margin-left: 5px;
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
}

#header .right .addclass,
.menu,
.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 48px;
}

#header .right .addclass i,
#header .right .addclass a {
    color: black;
}

#header .right .menu i,
#header .right .account i {
    font-size: 22px;
}

#body {
}

/* Drawer details */
.dra-details.open {
    display: block;
}

.dra-details {
    width: 300px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: none;
    animation: drawerFaceIn ease 0.5s;
}

.dra-details hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dra-details .dra-header {
    height: auto;
    margin: 8px 8px 8px 0px;
}

.dra-details .dra-item:hover {
    background-color: #f6f6f6;
    border-radius: 1rem;
    cursor: pointer;
}

.dra-details .dra-item a {
    color: #5f6368;
    text-decoration: none;
}

.dra-details .dra-item {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0px 26px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dra-details .dra-item .dra-item-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dra-details .dra-item .icon {
    color: #5f6368;
    margin-right: 16px;
    font-size: 18px;
}

.dra-details .dra-item .dra-item-avt {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background-color: #1967d2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dra-details .dra-body {
    width: 100%;
    height: auto;
    margin: 8px 8px 8px 0px;
}

.dra-details .dra-body .dra-body-title {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 16px;
    letter-spacing: 0.01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: #5f6368;
}

.dra-details .dra-footer {
    width: 100%;
    height: auto;
    margin: 8px 8px 8px 0px;
}
/* End Drawer details */

/* #line {
    padding-top: 65px;
}

#line hr {
    margin-top: 0px;
    margin-bottom: 0px;
} */

#container .ds-sv{
    padding-top: 95px;
    padding-left: 50px;
    padding-right: 50px;
}

#body .top {
    display: flex;
    height: 64px;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 20px;
}

#body .top .work {
    margin-left: 32px;
    margin-right: 32px;
}

#body .top .work i {
    font-size: 20px;
}

#body .top .work span {
    font-size: 15px;
}

#body .top .calender i {
    font-size: 20px;
}

#body .top .calender span {
    font-size: 15px;
}

#body .content {
    margin: 10px 25px;
}

#body .content .left {
    display: flex;
    flex-direction: column;
}

#body .content .card .card-header {
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
}

#body .content .col-md-3 .card {
    margin-bottom: 12px;
    height: 300px;
}

#body .content .col-md-3 :hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#body .content .card .card-header a {
    color: white;
}

#body .content .card .card-header i {
    color: white;
}

#body .content .card .card-header .left .title {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

#body .content .card .card-header .subtitle {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 13px;
}

#body .content .card .card-header .avt {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    right: 16px;
    bottom: 0;
    transform: translateY(50%);
    background-image: url("../img/user1.png");
}

#body .content .card .card-body {
    height: 140px;
}

#body .content .card .card-footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#body .content .card .card-footer i {
    margin: 0px 8px;
    font-size: 20px;
}

#footer {
}

@keyframes drawerFaceIn {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Toast */
#toast {
    position: fixed;
    top: 80px;
    right: 25px;
    /* bottom: 50px; */
    z-index: 999999;
}
  
.toast {
    display: flex;
    align-items: center; 
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 380px;
    height: 80px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    animation: slideInLeft ease .3s , fadeOut linear 1s 2s forwards;
    transition: all linear 0.3s;
}

.toast__icon{
   font-size: 24px;
    
}

.toast__title{
    font-size: 16px;
    font-weight: 600px;
    color: black;
}   

.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
} 

.toast__icon,
.toast__close{
    padding: 0px 16px;
}

.toast__body{
      flex-grow: 1;
}

.toast__close{
   font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}
.toast--success {
    border-color: #47d864;
}
.toast--success .toast__icon {
    color: #47d864;
}
  
.toast--success .toast__icon {
    color: #47d864;
}
 
.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 25px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
@keyframes fadeOut {
    to {
      opacity: 0;
    }
}

/* End Toast */