*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    margin-top: 15px;
}

#container{
    z-index: 0;
}

#header{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

#header .left , 
.right{
    display: flex;
    align-items: center;
}

#header .left .drawer:hover{
    cursor: pointer;
}

#header .left .drawer{
    margin: 25px;
    width: 24px;
    height: 24px;
    font-size: 22px;
}


#header .left .webname{
    font-size: 1.38125rem;
    color: #5f6368;
    margin-left: 5px;
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
}

#header .right .addclass,
.menu, .account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 48px;
}

#header .right .addclass i,
#header .right .menu i,
#header .right .account i{
    font-size: 22px;
}

#body{

}

/* Drawer details */
.dra-details.open{
    display: block;
}

.dra-details{
    width: 300px;
    height: 100%;
    background-color:#fff;
    position: fixed;
    z-index: 2;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    display: none;
    animation: drawerFaceIn ease 0.5s;
}

.dra-details hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.dra-details .dra-header{
    height: auto;
    margin: 8px 8px 8px 0px;
}

.dra-details .dra-item:hover{
    background-color: #f6f6f6;
    border-radius: 1rem;
    cursor: pointer;
}

.dra-details .dra-item a{
    color: #5f6368;
    text-decoration: none;
}

.dra-details .dra-item{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    padding:  0px 26px;
    font-size: 16px;
}

.dra-details .dra-item .icon{
    color: #5f6368  ;
    margin-right: 16px;
    font-size: 18px;
}

.dra-details .dra-item .dra-item-avt{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #1967d2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dra-details .dra-body{
    width: 100%;
    height: auto;
    margin: 8px 8px 8px 0px;
}

.dra-details .dra-body .dra-body-title{
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 16px;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.25rem;
    color: #5f6368;
}

.dra-details .dra-footer{
    width: 100%;
    height: auto;
    margin: 8px 8px 8px 0px;
}
/* End Drawer details */

#line{
    padding-top: 65px;
}

#line hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

#body .top{
    display: flex;
    height: 64px;
    align-items: center;
}
 
#body .top .work{
   margin-left: 32px;
   margin-right: 32px;
}

#body .top .work i{
    font-size: 20px;
}

#body .top .work span{
    font-size: 15px;
}

#body .top .calender i{
    font-size: 20px;
}

#body .top .calender span{
    font-size: 15px;
}

#body .content{
    margin: 10px 25px;
}

#body .content .left{
    display: flex;
    flex-direction: column;
}

#body .content .card .card-header{
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    align-items: flex-start;
}

#body .content .col-md-3 .card{
    margin-bottom: 12px;
}

#body .content .col-md-3 :hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


#body .content .card .card-header a{
    color: white;
}

#body .content .card .card-header i{
    color: white;   
}

#body .content .card .card-header .title{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #fff;
}

#body .content .card .card-header .subtitle{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 13px;
}

#body .content .card .card-header .avt{
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    right: 16px;
    bottom: 0;
    transform: translateY(50%);
    background-image: url("../img/user1.png");
}

#body .content .card .card-body{
    height: 140px;
}

#body .content .card .card-footer{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#body .content .card .card-footer i{
    margin: 0px 8px;
    font-size: 20px;
}

#footer{

}

@keyframes drawerFaceIn{
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}